
/* Organisation d'un événement privé - evenement.html */

section {
    margin-top: 140px;
}

h4 {
    text-align: center;
    font-size: 60px;
    color: #6733CF;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 0px;
}

.evenement {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

/* Mise en page des images */

.img-evenement {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 40px;
}

.img-evenement img {
margin-bottom: 20px;
}

/* Mise en page du texte */

.text-evenement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 65%;
}

.text-evenement p {
    text-align: center;
    font-size: 28px;
}

.btn-evenement {
    text-align: center;
    width: 40%;
    border: black solid 1px;
    background-color: rgb(255, 255, 255);
}

.btn-evenement a {
    color: black;
    font-family: 'Clicker Script';
}

.lien-evenement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lien-evenement p {
    margin-bottom: 50px;
    font-size: 23px;
}

.lien-evenement a {
    color: black;
    font-weight: bold;
}


/* Organisation d'un déjeuné privé - brunch.html */

.detail-evenement {
    width: 100%;
}
.detail-evenement p {
   font-size: 28px;
    margin-bottom: 0px;
}

.list-evenement{
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;    
}

.list-evenement p {
    font-size: 25px;
    margin-bottom: 5px;
}

.envies-evenement {
    color: black;
    font-family: 'Clicker Script';
    font-weight: bold;
}