
/* Nos offres  */

section {
    margin-top: 160px;
}
  
.bulle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 30px;
}

.bulle img {
    border-radius: 500px;
    height: 350px;
    width: 350px;
    border: 2px solid #6733CF;
}

.text-bulle {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.detail-text-bulle {
    text-align: center;
   margin-left: 25px;
   width: 22%;
   font-weight: bold;
   font-size: 20px;
}

.detail-text-bulle a {
    color: #6733CF;
    font-size: 27px;
}

.detail-text-bulle p {
    margin-top: 30px;
}


  
