
/* Nos offres  */

section {
    margin-top: 160px;
}
  
.bulle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

 .bulle img {
    width: 25%;
    clip-path: ellipse(50% 34%);
    object-fit: cover;   
}

.text-bulle {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.detail-text-bulle {
    text-align: center;
    margin-left: 25px;
    width: 28%;
    font-weight: bold;
    font-size: 25px;
}

.detail-text-bulle a {
    color: #6733CF;
    font-size: 32px;
}



  
