/* Typographies 

<style>
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
</style>

font-family: 'Vidaloka', serif;

<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
</style>

font-family: 'Playfair Display', serif;

<style>
@import url('https://fonts.googleapis.com/css2? family= Clicker+Script & display=swap');
</style>

font-family : 'Clicker Script', cursif ;
*/
/* Eléments principaux de la page */

#bloc_page
{
    margin: auto;
    flex-direction: column;
}

body
{   margin: auto;
}


/* Header */

header
{
    display: flex;
    justify-content: space-between;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width : 15%;
}

#logo img
{
    width: 100px;
    height: 100px;
}

#bloc_page
{   background-color: #dee4ff;
    position: fixed !important;
    top: 0;
    width: 100%;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

nav li
{
    width : 15%;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #ffffff;
}

nav
{   width: 85%;
}

#titre_principal
{   width: 15%;
}

.bouton_menu
{   
    display: block;
    line-height: 40px;
    background: url(logo-pictures/fond-blanc-bouton.jpg);
    color: #6733CF;
    -webkit-transition: all 0.7s ease-out 0s;
    -moz-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s;
    font-weight: bold;
    text-align: center;
    box-shadow: 4px 4px 3px white inset;
    border-radius: 10%;
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

.bouton_menu:hover 
{   background: url(logo-pictures/fond-violet-bouton.JPG);
    color: #ffffff;
}

/* Bannière */

#banniere_image
{   margin-top: 100px;
    height: 600px;
    width: 100%;
    background: url('logo-pictures/photo-page-accueil.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.432);
}

#banniere_image img
{   width: 30%;
    margin-left: 350px;
    padding-top: 0px;
}

figure 
{   margin-bottom: 0px;
    padding-bottom: 0px;
    height: 250px;
}

 figcaption
{   margin-left: 350px;
    margin-top: 0px;
    color: #6733CF;
    font-size: 30px;
    text-shadow: 1px 1px 2px white;
}


/* Presentation */

#presentation
{
    flex: 1.2;
    display: flex;
    align-items: center;
    margin-top: 80px;
    color: #6733CF;
    font-size: 0.9em;
    justify-content: space-around;
    background-color: white
}

#presentation img
{   width: 35%;
}

#presentation article
{   width: 65%;
    font-size: 23px;
    text-align: center;
    margin-left: 15px;
    margin-top: 60px;
}

article a {
    color: #6733CF;
}


/* Services */

#services
{   margin-top: 80px;
}

#services h1
{   font-size: 30px;
    text-align: center;
    color: #6733CF;
    text-decoration: underline;
    letter-spacing: 0.15em;
    margin-bottom: 60px;
}

#details 
{   display: flex;
    justify-content: space-around;
}

  
  
.offres
{   display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 26px;  
    padding: 3%;
    /*border: 1.5px solid;  */
    border-radius: 500px;
    border-color: #181818;
    height: 250px;
    width: 250px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.offres a
{   text-decoration: none;
    color: #6733CF;
}

/* Footer */

footer
{   margin-top: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    
}

#lien_footer
{   margin-right: 15px;
}

#link
{     
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}

.link_element {
    display: flex;
    flex-direction: row;   
}

.link_element p {
    margin-right: 1%;
}


.link_element a {
    text-decoration: none;
}


#lien_footer a
{   text-decoration: none;
}


